.header {
  width: 70%;
  margin: 2em auto;
  background-color: white;
  border-radius: 5px;
  padding: 2em 2em;
  display: flex;
  justify-content: space-between;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
